/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.background {
    -fx-background-color: #606060;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.6;
}
.choice.box .label{
	-fx-text-fill: #404040;
}
#pieC{
	-fx-text-fill: black;
}

.chart-legend{
	 -fx-background-color: #333;
}
.chart{
	-fx-background-color: #606060;
}