/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.background {
    -fx-background-color: #606060;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.6;
}
.choice.box .label{
	-fx-text-fill: #404040;
}
#pieC{
	-fx-text-fill: black;
}

.chart-legend{
	 -fx-background-color: #333;
}
.chart{
	-fx-background-color: #606060;
	-fx-text-fill: #FFFFFF;
}
.chart{
	-fx-background-color: #2E6D74;
}
.chart-pie-label {
    -fx-fill: white;
} 
TableView{
	-fx-font-style: italic;
}
TableView .table-row-cell:even:selected{
	-fx-background-color: #5EF6D3;
	-fx-opacity: 0.5;
	-fx-text-fill: white;
	
}
TableView .table-row-cell:odd:selected { /* Filas impares del ListView */
	-fx-background-color: #301891;
	-fx-opacity: 0.5;
	-fx-text-fill: white;
}
TableView .column-header .label{
    -fx-text-fill: black;
    
}
.grid-central .location{
	-fx-alignment: center;
}
Button{
	-fx-padding: 3 6 6 6;
	
}

GridPane {
	-fx-border-color: grey;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-border-insets: 12 12 4 12;
    -fx-border-radius: 20 20 20 20;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #0DD1D1;
}
.default-color0.chart-symbol { 
	-fx-background-color: purple;
	-fx-opacity: 0.3;
}

#AnchorIzquieda{
	-fx-background-image: url("../img/mando2.png");
	-fx-background-position: top-left;
	-fx-background-size: 80;
	-fx-background-repeat: no-repeat;
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #383939, #B8C9CB);
	}

.tree-cell:expanded{
	-fx-font-weight: bold;
}

.button{
	-fx-background-color: #0DD1D1;
	
}
.grid-central .location{ /* Para alinear ChoiceBox y ComboBox */
	-fx-alignment: center;
}

.check-box:selected {
    -fx-color: #0DD1D1;
}
.combo-box .list-cell{
	-fx-background: #0DD1D1;
}
.choice-box{
	 -fx-background-color: black;
	 -fx-mark-color: #0DD1D1;
}

.choice-box .context-menu { 
	-fx-background-color: black;
}

.choice-box .menu-item:focused { 
	-fx-background-color: #0DD1D1;
}
.choice-box .menu-item > .label { 
	-fx-text-fill: white;
}

.choice-box .menu-item:focused > .label { 
	-fx-text-fill: black;
}

RadioButton:selected, .grid-central CheckBox:selected{
	-fx-background-color: #0DD1D1;
}